---
import IconsProject from './IconsProject.astro';
import Android from './icons/Android.astro';

const TAGS = {
  NEXT: {
    name: "Android",
    icon: Android,
  }
}
const PROJECTS = [
  {
    title: "Family Film App",
    description:
      "The app aims to solve the challenge of choosing movies or TV shows for a group. It's hard to reach a consensus since people have seen different things and have varied preferences. The app allows users to add movies they've seen or want to watch. Its sophisticated algorithm filters this information for each group member, recommending a movie that everyone will enjoy for get-togethers or family gatherings.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/apptolast/FamilyFilmApp.git",
    imageList: ["/projects/FamilyFilmAppScreenOne.webp","/projects/FamilyFilmAppScreenTwo.webp","/projects/FamilyFilmAppScreenThree.webp"],
    tags: [TAGS.NEXT],
  },
  {
    title: "WildBycicle",
    description:
      "WildBicycle is not just an app; it’s your ultimate companion for outdoor adventures. Inspired by the functionality of Strava, WildBicycle elevates the experience of cycling, running, and skating to new heights. With a keen focus on the community aspect, our app encourages connectivity and camaraderie among outdoor enthusiasts.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/Coshiloco/WildBicycle.git",
    imageList: [],
    tags: [TAGS.NEXT],
  },
  {
    title: "HabitDiary",
    description:
      "HabitDiary is a sleek task management app designed to help you establish and track your daily, weekly, and monthly plans with ease. With its intuitive interface, you can swiftly organize your schedule and stay on top of your tasks.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/Coshiloco/HabitDiary.git",
    imageList: ["/projects/HabitDiaryOne.webp"],
    tags: [TAGS.NEXT],
  }
];
---

<div class="flex flex-col items-center">
  {PROJECTS.map((project) => (
    <article class="w-full p-4 mb-8">
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-4">
        {project.title}
      </h3>
      <p class="text-lg mb-4">{project.description}</p>
      <div class="flex gap-x-4 flex-wrap mb-4">
        {project.tags.map((tag) => (
          <nav class="flex gap-4 mt-8 flex-wrap mb-6"> 
            <IconsProject>
              <tag.icon class="w-14 h-6" />
              <span class="text-sm text-white">{tag.name}</span>
            </IconsProject>
          </nav>
        ))}
      </div>
      {project.imageList.length > 0 && (
        <div class="grid grid-cols-3 gap-6 mb-4">
          {project.imageList.map((imageSrc) => (
            <img
              loading="lazy"
              class="rounded shadow-lg object-cover h-auto max-w-full mb-6"
              src={imageSrc}
              alt={`Captura de pantalla del proyecto ${project.title}`}
            />
          ))}
        </div>
      )}
      <a href={project.github} target="_blank" rel="noopener noreferrer" class="mt-8 py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700 focus:outline-none focus:bg-blue-700">
        Saber más...
      </a>
    </article>
  ))}
</div>

